.footer {
  display: flex;
  font-family: $font-heading;
  flex-direction: column;
  align-items: center;

  &__button {
    &__hover {
      cursor: pointer;
    }
    padding: $gutter/2;
    margin: $gutter/2;
    font-size: 1em;
    color: $black;
    background: none;
    border: none;
  }

  &__color {
    color: $sLime;
  }

  &__index {
    padding: $gutter/2;
    margin: $gutter/2;
    text-decoration: none;
  }

}
