.fyrirlestur {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;

  &__row {
    display: flex;
    width: 90%;
    flex-direction: column;

    @media (min-width: 800px) {
      width: 66%;
    }
  }

  &__vContainer {
    position: relative;
    height: 0;
    padding-top: 35px;
    padding-bottom: 56.25%;
    margin: $gutter/2 0;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__texti {
    padding: 0 $gutter/2;
    margin: $gutter/2 0;
    font-family: $font-main;
    line-height: 2;
  }

  &__p {
    margin: $gutter 0;
  }

  &__quote {
    display: flex;
    padding: 0 $gutter/2;
    margin: $gutter/2 0;
    flex-direction: column;
    background-color: $greyLL;

    .data {
      margin: $gutter/2 0;
    }

    .attribute {
      margin: $gutter/2 0;
      font-style: italic;
    }

  }

  &__mynd {
    margin: $gutter/2 0;
  }

  &__heading {
    padding: 0 $gutter/2;
    margin: $gutter/2 0;
  }

  &__listi {
    padding: 0 $gutter/2;
    margin: $gutter/2 0;

    .listiStak {
      margin: $gutter 0;
    }
  }

  &__code {
    display: block;
    padding: 0 $gutter/2;
    margin: $gutter/2 0;
    font-family: $font-heading;
    white-space: pre-wrap;
  }
}
