.header {
  max-width: 100%;
  height: 300px;
  margin-bottom: $gutter/2;
  background-color: $greyL;

  &__img {
    height: 100%;
    background-position: 50% 50%;
  }

  &__img--forsida {
    width: 100%;
    height: 100%;
    background-image: url(../../img/header.jpg); /* stylelint-disable-line */
    background-position: 50% 50%;
  }

  &__text {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}
