@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h4, h1 {
  font-family: $font-heading;
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
}

@import "config";
@import "header";
@import "buttons";
@import "list";
<<<<<<< HEAD
@import "footer";
=======
@import "fyrirlestur";
>>>>>>> 78b94b5ed22f26fc23178fa76784fdd41f1f7fdb
